@import './../../../assets/styles/mixin.scss';
#warn_config {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    margin: 30px;
    background: #fff;
    @include baseShadow;
    .el-dialog__header{
        height: 0;
        display: none;
    }
    .el-dialog__body{
        padding: 0
    }
    .change_header{
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid rgba(233,234,236,1);
        position: relative;
        >h3{
            height: 50px;
            text-indent: 20px;
            >span{
                font-size: 18px;
                color: #464c5b;
                font-weight: 600;
            }
            >i{
                position: absolute;
                right: 20px;
                top:18px;
                cursor: pointer;
                transition: all linear 0.5s;
                &:hover{
                    color: skyblue;
                }
            }
        }
    }
    .input-list{
        .input-item{
            margin-bottom: 20px;
            margin-left: 10px;
            >span{
                font-size: 14px;
                color: #464c5b;
                margin-right: 20px;
            }
        }
        .el-input{
            width: 50%;
        }
    }
    .change_footer{
        margin-top: -10px;
        padding: 15px;
        border-top: 1px solid rgba(233,234,236,1);
        button{
            margin-left:20px;
            height:26px;
            line-height:26px;
            padding:0;
            width:90px
        }
    }
    >.warn_config_main{
        width: 100%;
        height: 100%;
        >.config_header{
            height: 60px;
            line-height: 60px;
            >h4{
                width: 60%;
                height: 60px;
                float: left;
                text-indent: 20px;
                font-size: 18px;
                font-weight: 900
            }
            >div{
                margin-right: 20px;
                width: 20%;
                height: 60px;
                float: right;
                input {
                    border-radius: 13px;
                    background: rgba(0, 0, 0, .05);
                    border: 0;
                    color: #000
                }
            }
        }
        >.config_tabel{
            width: 100%;
            height: calc(100% - 110px);
            padding-left: 1%;
            thead{
                th{
                    height: 70px;
                    background:rgba(248,248,249,1);
                }
            }
            .el-table{
                height: 100%;
                .el-table__body-wrapper {
                    table{
                        height: 100%;
                            tr{
                                height: 60px !important;
                                cursor: pointer;
                                td{
                                    height: 60px !important;
                                }
                            }

                    }
                }
                .nohightConfig,.nolowConfig{
                    color: #FF716A;
                }
            }
        }

        >.config_footer{
            width: 100%;
            height: 45px;
            line-height: 50px;
            padding-top: 5px;
            position: relative;
            .el-pagination__jump{
                float:right;
                margin-right: 30px;
            }
        }
    }
}
