.user-login{
    .mu-checkbox-checked{
        color: #FFA509
    }
    .mu-form-item__focus{
        color:#FFA509
    }
    .mu-input__focus{
        color:#FFA509
    }
    width: 100%;
    height: 100%;
    background: rgb(245,245,245);
    overflow: hidden;
    position: relative;
    >.login-logo{
        position: absolute;
        left:18.3%;
        width:240px;
        height: 40px;
        background: url('./../../assets/images/logo.png') no-repeat;
        top: calc(17% - 45px);
    }
    >.login-company{
        width: 64%;
        position: absolute;
        top: 78.8%;
        left:18%;
        text-align: right;
        padding-right: 20px;
        color:rgba(114,114,114,0.8)
    }
    >.login-main{
        position: absolute;
        width: 64%;
        min-height: 427px;
        height: 60%;
        background: #fff;
        left: 18%;
        top: 17%;
        box-shadow:0px 0px 16px 0px rgba(59,65,114,0.22);
        border-radius:6px;
        >.form-contanier{
            width: 48%;
            position: absolute;
            left:0;
            bottom: 20%;

            height: 66%;
            &:after{
                content: '';
                display: block;
                width: 1px;
                height: 75%;
                position: absolute;
                right: 30px;
                top: 15%;
                background: #FFA509;
                opacity: 0.26;
            }

            >h2{
                text-align: left;
                width: 100%;
                margin: 0 0 0 10%;
                font-size: 20px;
                color:#4C4C4C;
                margin-bottom: 20px;
                >span:nth-child(1) {
                    color: #BCBCBC;
                    font-size: 29px;
                }
            }
            >.mu-demo-form{
                width: 60%;
                margin: 0 0 0 10%;
            }
        }
        >.login-bg{
            width: 52%;
            height: 100%;
            position: absolute;
            right:0;
            bottom: 0;
            background: url('./../../assets/images/login_img.png') no-repeat;
            background-size: 100% 100%;
        }
    }
}
